html {
	height: 100%;
}

body {
	background-image: linear-gradient(#7790ff, #f4f6ff);
	
	margin: 0;
	padding: 0;

	text-align: center;
}

#banner {
	margin-top: 0;
	padding: 0;
	
	color: white;
	background-color: #32577a;

	font-family: 'Ostrich Sans Bold';
	font-size: 50pt;
}

#board {
	position: relative;

	height: 450px;
	width: 450px;
	margin: 0 auto;
	padding: 0px;

	background-color: ffffe6;
}

.tile {
	position: absolute;
	vertical-align: middle;

	height: 140px;
	width: 140px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 4px;
	padding: 0px;

	background-color: #f49911;
	text-align: center;
	line-height: 140px;
	font-size: 50pt;
	font-family: 'Mogra', Arial, sans-serif;
}

.blank:hover {
	background-color: #ffa94d;
}

.X {
	background-color: #4d88ff;
}

.O {
	background-color: #47d147;
}

.winning_row {
	background-color: #e2db0b;
}

#reset {
	border-radius: 5px;
	border: 1px solid #4c4c4c;
	
	font-family: 'Ostrich Sans';
	font-size: 25pt;
	font-weight: bold;
	background-image: linear-gradient(orange, white);
}

#reset:hover {
	border-width: 3px;
}

#message {
	font-family: Arial;
	font-size: 20pt;
}

@font-face {
	font-family: 'Ostrich Sans Bold';
	src: url(OstrichSans-Bold.otf);
}

@font-face {
	font-family: 'Ostrich Sans';
	src: url(ostrich-regular.ttf);
}
